{% extends 'layout.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post-preview">
            <a href="/posts/{{ post.pk }}">
                <h2 class="post-title">{{ post.title }}</h2>
                <h3 class="post-subtitle">{{ post.summary|safe }}</h3>
            </a>
            <p class="post-meta">Postado por &nbsp;<a href="#">{{ post.author.get_full_name }} em {{ post.created_at|date:'d, M Y' }}</a></p>
        </div>
        <hr>
    {% endfor %}

{% endblock %}



